/* .class{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    
}
#inputElement{
    width: 25%;
    height: 25px;
    outline: none;
    


    
}
#btn{
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 9px;
    
} */